<a href="https://colab.research.google.com/github/JorgeBernalll/prediccionDiabetes/blob/main/ProyectoFinal_MineriadeDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importación, análisis y preprocesamiento del dataset

In [173]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [174]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score

df = pd.read_csv('diabetes.csv')
datos = df.shape
print(datos)
df.head()

(768, 9)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [175]:
df.rename(columns={'Pregnancies':'Embarazos', 'Glucose':'Glucosa', 'BloodPressure':'PresionSanguinea','SkinThickness':'GrosorPiel','Insulin':'Insulina','BMI':'IMC','DiabetesPedigreeFunction':'PorcentajeDiabetesHereditario','Age':'Edad','Outcome':'Resultado'}, inplace=True)
df.head()

,Embarazos,Glucosa,PresionSanguinea,GrosorPiel,Insulina,IMC,PorcentajeDiabetesHereditario,Edad,Resultado
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [176]:
df['Glucosa'].replace(0, np.nan, inplace=True)
df['PresionSanguinea'].replace(0, np.nan, inplace=True)
df['GrosorPiel'].replace(0, np.nan, inplace=True)
df['Insulina'].replace(0, np.nan, inplace=True)
df['IMC'].replace(0, np.nan, inplace=True)
mediaGlucosa = df['Glucosa'].mean()
mediaPresionSanguinea = df['PresionSanguinea'].mean()
mediaGrosorPiel = df['GrosorPiel'].mean()
mediaInsulina = df['Insulina'].mean()
mediaIMC = df['IMC'].mean()
df['Glucosa'].fillna(value=mediaGlucosa, inplace=True)
df['PresionSanguinea'].fillna(value=mediaPresionSanguinea, inplace=True)
df['GrosorPiel'].fillna(value=mediaGrosorPiel, inplace=True)
df['Insulina'].fillna(value=mediaInsulina, inplace=True)
df['IMC'].fillna(value=mediaIMC, inplace=True)

In [177]:
df.head()

,Embarazos,Glucosa,PresionSanguinea,GrosorPiel,Insulina,IMC,PorcentajeDiabetesHereditario,Edad,Resultado
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Embarazos                      768 non-null    int64
 1   Glucosa                        768 non-null    float64
 2   PresionSanguinea               768 non-null    float64
 3   GrosorPiel                     768 non-null    float64
 4   Insulina                       768 non-null    float64
 5   IMC                            768 non-null    float64
 6   PorcentajeDiabetesHereditario  768 non-null    float64
 7   Edad                           768 non-null    int64
 8   Resultado                      768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

Detectando Na

In [179]:
df.isna().any()

Embarazos                        False
Glucosa                          False
PresionSanguinea                 False
GrosorPiel                       False
Insulina                         False
IMC                              False
PorcentajeDiabetesHereditario    False
Edad                             False
Resultado                        False
dtype: bool

# Uso de la función train_test_split para dividir el dataframe

In [180]:
df = df.astype(float)
features = df.drop(columns='Resultado', axis=1)
Y = df['Resultado']

In [181]:
x_train, x_test, y_train, y_test = train_test_split(features, Y, test_size=0.2)##, random_state= 0)

# Creación y entrenamiento de modelos

## Regresión Logística

In [182]:
regresionlog = LogisticRegression()
regresionlog.fit(x_train, y_train)
predictionRegresionLog = regresionlog.predict(x_test)
reglog_Accuracy_Score = accuracy_score(predictionRegresionLog, y_test)
reglog_F1_Score = f1_score(predictionRegresionLog, y_test, average='weighted')
resultadoRegLog = pd.DataFrame({'Resultado':predictionRegresionLog})
print('Regresión Logística')
print('Precisión Regresion Logistica: ', reglog_Accuracy_Score, '\nKNN F1 Score: ', reglog_F1_Score)
print(resultadoRegLog.head())

Regresión Logística
Precisión Regresion Logistica:  0.7727272727272727
KNN F1 Score:  0.785978597859786
   Resultado
0        0.0
1        0.0
2        0.0
3        1.0
4        0.0

## Maquinas de soporte

In [183]:
svc = SVC()
svc.fit(x_train, y_train)
predictionSVC = svc.predict(x_test)
svc_Accuracy_Score = accuracy_score(predictionSVC, y_test)
svc_F1_Score = f1_score(predictionSVC, y_test, average='weighted')
resultadoSVC = pd.DataFrame({'Resultado':predictionSVC})
print('Maquinas de Soporte')
print('Precisión Maquinas de Soporte: ', svc_Accuracy_Score, '\nSVC F1 Score: ', svc_F1_Score)
print(resultadoSVC.head())

Maquinas de Soporte
Precisión Maquinas de Soporte:  0.7337662337662337
SVC F1 Score:  0.7617958078787571
   Resultado
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0

## KNeighbors

In [188]:
knn = KNeighborsClassifier(n_neighbors=4, metric='euclidean', p=2)
knn.fit(x_train, y_train)
predictionKNN = knn.predict(x_test)
knn_Accuracy_Score = accuracy_score(predictionKNN, y_test)
knn_F1_Score = f1_score(predictionKNN, y_test, average='weighted')
resultadoKN = pd.DataFrame({'Resultado':predictionKNN})
print('KNeighbors')
print('Precisión KNeighbors: ', knn_Accuracy_Score, '\nKNN F1 Score: ',knn_F1_Score)
print(resultadoKN.head())

KNeighbors
Precisión KNeighbors:  0.6818181818181818
KNN F1 Score:  0.7119097956307259
   Resultado
0        0.0
1        0.0
2        1.0
3        0.0
4        0.0

## Árbol de decisiones

In [189]:
tree = DecisionTreeClassifier(criterion='gini', splitter='best', max_depth= 2)
tree.fit(x_train, y_train)
predictionTree = tree.predict(x_test)
tree_Accuracy_Score = accuracy_score(predictionTree, y_test)
tree_F1_Score = f1_score(predictionTree, y_test, average='weighted')
resultadoArbol = pd.DataFrame({'Resultado':predictionTree})
print('Arbol de decisiones')
print('Precisión Tree: ', tree_Accuracy_Score, '\nTree F1 Score: ',tree_F1_Score)
print(resultadoArbol.head())

Arbol de decisiones
Precisión Tree:  0.7207792207792207
Tree F1 Score:  0.7393345623010694
   Resultado
0        0.0
1        0.0
2        1.0
3        1.0
4        0.0